body {
  margin: 0;
  background-color: rgb(255, 255, 255);
  font-family: 'Zilla Slab', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  text-decoration: none;
}

h1{
  margin: 0.5rem 0;
  font-size: 1.6rem;
}

/* h2 {
  font-size: 1.5rem;
} */

/* h3 {
  font-size: 1rem;
} */


/* .row {
  display: flex;
  flex-wrap: wrap;
  padding: 18px;
  justify-content: space-between;
} */

/* .row.center {
  display: flex;
  align-items: center;
} */

/* .col-1 {
  padding: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;

} */

/* .col-2 {
  flex: 1;
  justify-content: space-between;
} */

/* .block {
  background-color: #c6f7ed;
  padding: 10px;
  margin: 0.5rem;
} */

/* .text-right {
  text-align: right;
} */

/* img.small {
  max-height: 10rem;
} */

/* button {
  font-size: 0.8rem;
  padding: 0.2rem;
  margin: 0.1rem;
  border: 0.1rem #404040 solid;
  background-color: teal;
  color: white;
  width: 100%;
  cursor: pointer;
  width: 7.5rem;
} */
/* 
button.add {
  background-color: teal;
  width: 1.5rem;
}

button.remove {
  background-color: teal;
  width: 1.5rem;
} */

/* button.badge {
  background-color: teal;
  border: none;
  color: white;
  width: 1rem;
  border-radius: 50%;
} */

/* .icon-span {
    float: right;
    color: greenyellow;
    cursor: pointer;
} */

/* .tracker-box {
  background-color: #386489;
  font-size: 14px;
  color: white;
  letter-spacing: 0.09em;
  padding: 15px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
} */

.tracker-box .validated {
  color: rgba(255, 255, 255, 0.5);
}

/* .list-icon {
  margin-right: 8px;
} */

/* .list-icon.green {
  color: rgb(46, 243, 46);
} */

/* .checkoutform{
  width: 100%;
  height: 100vh;
  background-color:#c6f7ed;
  display: flex;
  background-size: cover;
  align-items: center;
  justify-content:center;
  margin-top: 15px;
  height: 600px;
  padding: 20px;
  flex:none;
} */
/* .viewform{
  width: 100%;
  background-color:#c6f7ed;
  background:url("https://wallpaperaccess.com/full/2076146.jpg")center;
  align-items: center;
  justify-content:center;
  margin-top: 20px;
  height: 600px;
  padding: 20px;
  display: flex;
  flex-direction: column;
} */
/* .cflex{
  display: flex;
  flex-direction: row;
  background: #f6f6f6;
  border-radius: 0 0 5px 5px;
  padding: 25px;
} */
/* p{
  display: block;
  color: #888;
  margin: 0;
  padding-left: 25px;
} */
/* .required{
  color: red;
} */
/* label{
  display: block;
  margin: 15px;
}
label>span{
  float: left;
  width: 25%;
  margin-top: 12px;
  padding-right: 10px;
} */
/* input
{
  width: 70%;
  height: 10px;
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1px solid #dadada;
  color: #888;
} */

